@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(constants/font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .logo {
    font-family: ls-bold;
  }
  .tracking-tightest {
    letter-spacing: -0.1em;
  }
  .main-color {
    background-color: #ae02f4;
  }
  .text-main-color {
    color: #ae02f4;
  }
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }
  .padding-l {
    @apply sm:pl-16 pl-8;
  }
  .padding-x {
    @apply sm:px-16 px-8;
  }
  .padding-y {
    @apply sm:py-16 py-8;
  }
  .padding-r {
    @apply sm:pr-16 pr-8;
  }
  .padding-t {
    @apply sm:pt-24 pt-12;
  }
  .padding-b {
    @apply sm:pb-24 pb-8;
  }
  .info-text {
    @apply text-slate-500 text-lg leading-7;
  }
  .text-slate-gray {
    @apply text-slate-500;
  }
  .border-gray {
    border-color: rgb(71 85 105);
  }
  .bg-hero {
    background-color: hsla(202, 61%, 70%, 0.5);
  }
  .bg-dark {
    background-color: #84bfe1;
  }
  .border-main-color {
    border-color: #ae02f4;
  }
  .bg-lite-dark {
    background: rgba(0, 0, 0, 0.1);
  }
}
